# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Kinematic-Equation.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Unity Projects\Kinematic-Equation\.idea\.idea.Kinematic-Equation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
